*{
  margin: 0;
  padding: 0;
}

body{
   background:white;
    
}

@font-face{
    font-family:caviar dreamas;
    src:url(fuentes/caviar dreams.ttf)
    
}

header{
    width: 100%;
   

}




header nav{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: #ff5346;
    
}

.menu_bar{
    display: none;
    
}


header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a{
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-family: caviar dreams,sans-serif;
    font-size: 20px;
  
}

header nav ul li a:hover {
    background: #ff7066;
    
}

section{
    padding: 20px;
}

@media screen and (max-width:480px){
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed; 
    }
    
    header #menu{
        display: block;
        margin:auto;
        margin-top:0;
        width: auto;
        height: 100px;
        max-width:200px;
        min-width: 1px;
        position: static;
    
   
}
    header nav ul li{
        display: block;
        float: none;
        border-bottom:1px solid rgba(255,255,255,.3)
    }
    
    .menu_bar{
        display: block;
        width: 100%;
        background:#ff5346;
        
    }
    
    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        font-family: caviar dreams,sans-serif;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
       
        
    }
    
    .menu_bar span{
        float: right;
        font-size: 40px;
        
    }
 
    
    #img_banner{
        display: block;
        margin:auto;
        margin-top:0;
        width: auto;
        max-width:360px;
        position: static;
        left:200px; 
     }
    
    
        
     .iconos{
      width:10px;
      height:10px;
         margin-top: 5px;
         margin-left: 90px;
         
    }
       
    
    
   
    
        #contenedor{
        display: block;
        width: 65px;
        height: 71px;
        background-color: #ff7066;
        margin-right: -300px;    
        
             }
    

    