*{
  margin: 0;
  padding: 0;
}

body{
   background-color: white;
    
}



#menu{
     display: block;
     margin:auto;
     margin-top:0;
     width: auto;
     height: 0px;
     max-width:300px;
     position: static;
     

}

#logo{
    display: block;
    margin: auto;
    margin-top:90px;
    width: auto;
    max-width:100px;
    position: static;
    
}

#empaque{
    display: block;
    margin: auto;
    margin-top:50px;
    width: auto;
    max-width:420px;
    position: static;
    margin-left: 530px;
    
   
}

#ilustracion{
    display: block;
    margin: auto;
    margin-top:10px;
    width: auto;
    max-width:30px;
    margin-left: 330px;
    
}

#identidad{
    display: block;
    margin: auto;
    margin-top:-60px;
    width: auto;
    height: 0;
    max-width:295px;
    position: static;
    
}

#editorial{
    display: block;
    margin: auto;
    margin-top:-60px;
    width: auto;
    height: 0;
    max-width:295px;
    position: static;
    
}

#piezas{
    display: block;
    margin: auto;
    margin-top:-60px;
    width: auto;
    height: 0;
    max-width:295px;
    position: static;
    
}

#juegos{
    display: block;
    margin: auto;
    margin-top:-60px;
    width: auto;
    height: 0;
    max-width:295px;
    position: static;
    
}






@media (max-width: 480px){
    form{
        width: 100%;
    }